html{
	scroll-behavior: smooth;
}
body::-webkit-scrollbar{
	width: .3em;
}
body::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(29, 29, 29, 0.3);
}
body::-webkit-scrollbar-thumb{
	background-color: rgba(223, 223, 223, 0.486);
	outline: 1px solid slategray;
}


.proj_img{
	width:100%;
    height:300px;
    cursor: pointer;
    box-shadow: 0 0 5px #000000;
    transition: .4s;
}
.proj_img:hover{
    box-shadow: 0 0 10px #000000;
    transform: scale3d(1.06, 1.06, 1.06);
}
.lms_proj{
	background: #424242 url(../../images/lms.jpg) center no-repeat;
	background-size: cover;
}
.lms_proj:hover, .lms_proj:active{
	background: #424242 url(../../images/lms.gif) center no-repeat;
	background-size: cover;
}
.comp_proj{
	background: #424242 url(../../images/comp.jpg) center no-repeat;
	background-size: cover;
}
.comp_proj:hover, .comp_proj:active{
	background: #424242 url(../../images/comp.gif) center no-repeat;
	background-size: cover;
}
.fee_proj{
	background: #424242 url(../../images/fee.jpg) center no-repeat;
	background-size: cover;
}
.fee_proj:hover, .fee_proj:active{
	background: #424242 url(../../images/fee.gif) center no-repeat;
	background-size: cover;
}
.ecom_proj{
	background: #424242 url(../../images/ecom.jpg) center no-repeat;
	background-size: cover;
}
.ecom_proj:hover, .ecom_proj:active{
	background: #424242 url(../../images/ecom.gif) center no-repeat;
	background-size: cover;
}
.land_proj{
	background: #424242 url(../../images/land.jpg) center no-repeat;
	background-size: cover;
}
.land_proj:hover, .land_proj:active{
	background: #424242 url(../../images/land.gif) center no-repeat;
	background-size: cover;
}
.psdhtml_proj{
	background: #424242 url(../../images/psdhtml.jpg) center no-repeat;
	background-size: cover;
}
.psdhtml_proj:hover, .psdhtml_proj:active{
	background: #424242 url(../../images/psdhtml.gif) center no-repeat;
	background-size: cover;
}
.yt-embed iframe{
	box-shadow: 0 0 5px rgb(100, 100, 100);
	width: 100%;
	height: 450px;
}

@media screen and (max-width: 1680px) {

    .proj_img{
        height:250px;
    }
    
}

@media screen and (max-width: 1280px) {

    .proj_img{
        height:200px;
	}
	.yt-embed iframe{
		height:390px;
	}

}
@media screen and (max-width: 980px) {

    .proj_img{
        height:175px;
    }
	.yt-embed iframe{
		height:320px;
	}

}
@media screen and (max-width: 800px) {

    .proj_img{
        height:150px;
    }
	.yt-embed iframe{
		height:280px;
	}

}

@media screen and (max-width: 720px) {

    .proj_img{
        height:200px;
    }
	.yt-embed iframe{
		height:240px;
	}
	.image-sourav-dutt{
		float: none!important;
		margin: 0 auto!important;
		min-width: 100%!important;
		max-height: 420px;
		overflow:hidden;
		border-radius: 50%;
		background: rgb(224, 224, 224);
	}

}

@media screen and (max-width: 580px) {

	.yt-embed iframe{
		height:200px;
	}

}

@media screen and (max-width: 440px) {

    .yt-embed iframe{
		height:175px;
	}

}

@media screen and (max-width: 360px) {

    .proj_img{
        height:150px;
    }
	.yt-embed iframe{
		height:160px;
	}

}

